<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>

		<title>Document</title>
	</head>

	<body>
		<% if (user){ %>
		<h1>welcome <%= user %></h1>
		<% }else{ %>
		<h1>Hello anonimous</h1>
		<% } %>
		<button id="logout">logout</button>
		<h2>
			Centro de Mensajes (Compresión: <span id="compression-info"></span>%)
		</h2>

		<div>
			<h2>Messages</h2>
			<div id="outputChats"></div>
			<form action="" id="chatForm">
				<input type="email" name="email" id="email" placeholder="email" />
				<input type="text" name="nombre" id="nombre" placeholder="nombre" />
				<input
					type="text"
					name="apellido"
					id="apellido"
					placeholder="apellido"
				/>
				<input type="number" name="edad" id="edad" placeholder="edad" />
				<input type="text" name="alias" id="alias" placeholder="alias" />
				<input
					class="input"
					type="text"
					id="mensaje"
					style="margin-top: 15px"
					placeholder="message"
				/>
				<button id="send" class="button" style="margin-top: 15px">Send</button>
			</form>
		</div>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/main.js" type="module"></script>
	</body>
</html>
